.content {
  @apply rounded-md bg-white bg-opacity-90 shadow mx-auto;

  .content__link {
    @apply text-primary-500 hover:text-primary-600 inline-block;

    &:active {
      @apply transform scale-x-95 scale-y-95;
    }
  }
  &.auth{
    background-color: transparent;
    box-shadow: none;
    .auth-box{
      padding-bottom: 100px;
      .p-5{
        padding: 0px;
      }
      .field__label{
        color: #ffffff;
      }
      .submit-form{
        background-color: #af5e14;
      }
      .forgot{
        color: #ffffff;
      }
      input{
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;
        border-top-right-radius: 23px;
        border-bottom-right-radius: 23px;
        background-color: #ffffff80;
      }
    }
  }
}